@{
    ViewData["Title"] = "Personal Details";
}
<h1>@ViewData["Title"]</h1>

<p> Name: Tanvir Anzoom </p>
<p>Father's Name: abc </p>
<p>Mother's Name: def</p>
<p>Current address: ghi </p>
<p>present address: jkl </p>
<p>present address: jkl </p>
<p>E-mail: tanvir69it@gmail.com</p>