@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p><b> 1. Object Oriented Programming 1:  </b> Resturant Management System</p>

<p> <b>2. Object Oriented Programming 2:</b> Management System</p>
<p> <b>3. Database: </b> Abc </p>
<p> <b>4. Advance Database:  </b>Spouse finfing Management System</p>
<p> <b>5. WebTech:  </b>Tourist Management</p>