@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">References</h1>
    <br>
    <h3> 1. Name: abc</h3>
    <h3> contact: 01********</h3>
    <h3> E-mail: abc@gmail.com</h3>
    <br>
    <h3> 1. Name: ABC</h3>
    <h3> contact: 01********</h3>
    <h3> E-mail: abc@gamail.com</h3>
    <br>
    <h3> 1. Name: XYZ</h3>
    <h3> contact: 01********</h3>
    <h3> E-mail: xyz@gamail.com</h3>
    <br>
</div>
